
<link rel="stylesheet" href="navegacion.component.css">
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">ANGULAR</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink = "/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/about">Mostrar nombre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/loteria">Numero Loteria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/calculadora">Tabla de multiplicar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/tuberia">Tuberia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/estructuras">Estructuras de control</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/formulario">Formulario</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/crud">Tablas </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/registro">Registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink = "/crud_bd">CRUD</a>
            </li>
        </ul>
    </div>
</nav>